services:
  backend:
    image: lunghr/is-lab1-backend:latest
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DB_URL: ${DB_URL}
        DB_USER: ${DB_USER}
        DB_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:postgresql://database:5432/postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
    depends_on:
      - database

  database:
    container_name: database
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

  frontend:
    image: lunghr/is-lab1-frontend:latest
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

  adminer:
    image: adminer
    container_name: is_lab_1_app_adminer
    restart: always
    ports:
      - "13228:8080"
    environment:
      ADMINER_DEFAULT_SERVER: database

volumes:
  pgdata: { }